h2 {
  font-family: 'Playfair Display', serif;
}

.countryHeader {
  font-weight: bold;
  font-size: 2.65rem;
  font-family: 'Playfair Display', serif;
  margin: 100px 0 20px 0;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.dataContainer {
  flex: 1;
}
